
* {	margin: 0; padding: 0; border: 0; }

html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	font-family: $font-family;
	font-size: 16px;
	line-height: 23px;
	font-weight: normal;
	color: $text-color;
	text-rendering: optimizelegibility;
}

html, body {
	height: 100%;
}

.wrap {
	min-height: 100%;
	width: $page-width;
	margin: 0 auto;
	
	.wrap-inner {
		overflow: auto;
		padding-bottom: $footer-height + 100px;
		text-align: left;
	}
	
}

.footer {
	position: relative;
	margin: ($footer-height * -1) auto 0;
}
