
.hidden {
	display: none !important;
}

pre, ul, ol, p, table {
	margin: 0 0 20px 0;
}

a {
	@extend %rounded-corners;
	font-family: $font-family-monospace;
	font-size: 95%;
	letter-spacing: -0.07em;
	color: $link-color;
	text-decoration: none;
	white-space: nowrap;
	
	&:hover {
		@extend %color-transition;
		color: #666;
		text-decoration: underline;
	}
	
}

del {
	text-decoration: none;
	background: #f1cfcf;
}

em {
	font-style: normal;
	font-weight: bold;
}

.float-right {
	float: right;
	margin-left: 20px;
}

hr {
	background: #eee;
	height: 1px;
	border: 0;
}

li {
	margin-bottom: 10px;
}

ul li {
	list-style-type: none;
}

ol li {
	margin-left: 30px;
}

code.inline {
	@extend %rounded-corners;
	background: #f8f8f8;
	display: inline;
	padding: 0 2px;
}

em.highlight {
	letter-spacing: 0.1em;
	font-weight: normal;
	
	span {
		@include box-shadow(1px 1px 0 rgba(238, 238, 238, 0.36));
		@include border-radius(1px);
		background: rgba(233, 233, 99, 0.36);
		padding: 0 1px 1px 2px;
		border: 1px solid rgba(160, 160, 51, 0.16);
		font-weight: bold;
	}
	
}

pre {
	position: relative;
	
	& > span {
		position: absolute;
		right: 10px;
		top: 5px;
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
		font-size: 80%;
		color: #aaa;
		text-shadow: 0 1px 0 #fff;
		text-transform: lowercase;
	}
	
	&.inline {
		display: inline-block;
		width: 78%;
		
		code {
			padding-right: 100px;
		}
		
	}
	
}

.vertical-text {
	-webkit-transform: rotate(-80deg);
	transform: rotate(-80deg);
	white-space: nowrap;
}

.fa-check {
	color: green;
	&:hover {
		color: darken(green, 5%);
	}
}

.fa-times {
	color: #aaa;
}

/* special cases */

.float {
	@extend .clearfix;
	position: relative;
	width: 100%;
	
	& > * {
		float: left;
	}
	
	pre {
		margin: 0 15px 5px 0;
	}
	
}

.add-your-project {
	text-align: center;
	font-size: 90%;
	color: #666;
	font-style: italic;
	letter-spacing: -0.04em;
}

.demo-button {
	text-align: center;
	margin: 30px 0 0;
	
	.fa {
		margin-right: 2px;
	}
	
}

.read-more {
	text-align: center;
}
