
.hidden {
	display: none !important;
}

p {
	margin: 0 0 10px 0;
}

a {
	@extend %border-radius;
	font-family: $font-family-monospace;
	font-size: 90%;
	letter-spacing: -0.07em;
	color: $link-color;
	text-decoration: none;
	white-space: nowrap;
	
	&:hover {
		@extend %color-transition;
		color: #666;
		text-decoration: underline;
	}
	
}

em {
	font-style: normal;
	font-weight: bold;
}

.float-right {
	float: right;
	margin-left: 20px;
}

hr {
	background: #eee;
	height: 1px;
	border: 0;
}
