
.people {
	@extend .clearfix;
	
	& > li {
		float: left;
	}
	
	a {
		@extend %rounded-corners;
		text-decoration: none;
		font-family: $font-family-monospace;
		text-align: center;
		display: inline-block;
		width: 190px;
		white-space: normal;
		padding: 10px 5px;
		
		&:hover {
			background: #f8f8f8;
		}
		
	}
	
	img {
		@include border-radius(40px);
		border: 5px solid #fff;
	}
	
	h2 {
		margin: 5px 0;
		font-weight: normal;
		font-size: 120%;
		white-space: nowrap;
		letter-spacing: -0.1em;
	}
	
	span {
		font-family: $font-family;
		line-height: 1.2em;
		color: #777;
		display: inline-block;
		letter-spacing: 0;
		font-size: 80%;
		vertical-align: top;
	}
	
}
