
.people {
	@extend .clearfix;
	
	& > li {
		float: left;
		width: 160px;
	}
	
	a {
		@extend %rounded-corners;
		text-decoration: none;
		color: #333;
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
		text-align: center;
		display: inline-block;
		width: 140px;
		white-space: normal;
		padding: 10px 5px;
		
		&:hover {
			background: #f8f8f8;
		}
		
	}
	
	img {
		@include border-radius(40px);
		border: 5px solid #fff;
	}
	
	h2 {
		margin: 5px 0;
		font-weight: normal;
		font-size: 120%;
		white-space: nowrap;
	}
	
	span {
		line-height: 1.4em;
		color: #777;
		display: inline-block;
		letter-spacing: 0;
		font-size: 80%;
		vertical-align: top;
	}
	
}
