
/* header section is a special case */

section.header {
	text-align: center;
	margin: 40px auto;

	h2 {
		font-size: 100px;
		margin: 20px 0;
		line-height: 1;
		border: 0;
		box-shadow: none;

		a {
			font-family: $font-family-cursive;
			letter-spacing: -0.01em;
			color: #333;
			text-shadow: 1px 5px 0 #aaa;
			text-decoration: none;
		}

	}

	div {
		font-size: 22px;
		line-height: 30px;
		color: #666;
	}

	.description {
		margin-bottom: 10px;
		font-size: 30px;
		text-transform: lowercase;
		margin-top: 10px;
	}

	.available {
		font-size: 80%;
		line-height: 24px;
		margin-top: 10px;
		color: #999;
	}

}

/* highlighted implementation */

body.lang-javascript .header .javascript,
body.lang-ruby .header .ruby,
body.lang-python .header .python,
body.lang-java .header .java,
body.lang-scala .header .scala,
body.lang-php .header .php,
body.lang-perl .header .perl,
body.lang-coffeescript .header .coffeescript,
body.lang-objective-c .header .objective-c,
body.lang-c .header .c,
body.lang-cpp .header .cpp,
body.lang-go .header .go,
body.lang-lua .header .lua,
body.lang-elixir .header .elixir,
body.lang-coldfusion .header .coldfusion,
body.lang-net .header .net,
body.lang-kotlin .header .kotlin,
body.lang-nim .header .nim,
body.lang-vba .header .vba,
body.lang-swift .header .swift,
body.lang-clojure .header .clojure,
body.lang-erlang .header .erlang,
body.lang-rust .header .rust,
body.lang-haskell .header .haskell,
body.lang-ocaml .header .ocaml,
body.lang-actionscript .header .actionscript,
body.lang-bash .header .bash,
body.lang-r .header .r,
body.lang-d .header .d,
body.lang-f-sharp .header .f-sharp,
body.lang-tsql .header .tsql,
body.lang-haxe .header .haxe,
body.lang-crystal .header .crystal,
body.lang-elm .header .elm,
body.lang-smalltalk .header .smalltalk,
body.lang-perl6 .header .perl6,
body.lang-postgresql .header .postgresql,
body.lang-dart .header .dart,
body.lang-io .header .io {
	color: #666;
	font-weight: bold;
}
