
/* header section is a special case */

section.header {
	text-align: center;
	margin: 40px auto;
	
	h2 {
		font-size: 100px;
		margin: 20px 0;
		line-height: 1;
		border: 0;
		box-shadow: none;
		
		a {
			font-family: $font-family-cursive;
			letter-spacing: -0.01em;
			color: #333;
			text-shadow: 1px 5px 0 #aaa;
			text-decoration: none;
		}
		
	}
	
	div {
		font-size: 22px;
		line-height: 30px;
		color: #666;
	}
	
	.description {
		margin-bottom: 10px;
		font-size: 30px;
		text-transform: lowercase;
		margin-top: 10px;
	}
	
	.available {
		font-size: 18px;
		line-height: 26px;
		margin-top: 10px;
		color: #999;
	}
	
}

/* highlighted implementation */

body.lang-javascript .header .javascript,
body.lang-ruby .header .ruby,
body.lang-python .header .python,
body.lang-java .header .java,
body.lang-scala .header .scala,
body.lang-php .header .php,
body.lang-perl .header .perl,
body.lang-coffeescript .header .coffeescript,
body.lang-objective-c .header .objective-c,
body.lang-c .header .c,
body.lang-cpp .header .cpp,
body.lang-go .header .go,
body.lang-lua .header .lua,
body.lang-elixir .header .elixir,
body.lang-coldfusion .header .coldfusion,
body.lang-groovy .header .groovy,
body.lang-node-js .header .node-js,
body.lang-net .header .net,
body.lang-kotlin .header .kotlin,
body.lang-nim .header .nim,
body.lang-vba .header .vba,
body.lang-swift .header .swift,
body.lang-clojure .header .clojure,
body.lang-erlang .header .erlang,
body.lang-rust .header .rust {
	color: #666;
	font-weight: bold;
}
