
section {
	margin: 0 0 30px;
	
	& > h2 {
		line-height: 36px;
		letter-spacing: -0.02em;
		font-size: 26px;
		text-transform: lowercase;
		font-weight: normal;
		color: #000;
		border-bottom: 1px solid #D8D8D8;
		margin-bottom: 15px;
		padding-bottom: 5px;
		box-shadow: 0 1px 0 #f8f8f8;
	}
	
	& > div {
		@extend .clearfix;
		width: 100%;
		
		& > *:last-child {
			margin: 0;
		}
		
	}
	
	&#uses {
		margin: 0;
		
		& > div {
			@extend .clearfix;
			position: relative;
			
			$image-size: 480px;
			
			& > div {
				float: left;
				
				&:first-child {
					width: $page-width - $image-size - ($page-padding-width * 2);
					margin-top: 20px;
					
					p { padding-right: 15px; }
					
				}
				&:last-child { width: $image-size; }
				
			}
			
			.in-use {
				position: relative;
				width: $image-size;
				
				img {
					width: $image-size;
				}
				
			}
			
		}
		
	}
	
}
