
section {
	margin: 0 0 30px;
	
	& > h2 {
		line-height: 34px;
		letter-spacing: -0.02em;
		font-size: 22px;
		text-transform: lowercase;
		font-weight: normal;
	}
	
	& > div {
		@extend .clearfix;
	}
	
}
