
.taglets {
	@extend .clearfix;
	position: relative;
	
	li {
		float: left;
		margin: 0 10px 10px 0;
		background: #E7EFF3;
		padding: 1px 8px 0;
		border-radius: 3px;
		font-size: 90%;
		
		a {
			text-decoration: none;
		}
		
		&:hover {
			background: #eee;
		}
		
	}
	
}
