
@import 'normalize';
@import 'functions';

$font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-cursive: "Leckerli One", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-monospace: "Fira Mono", "Helvetica Neue", Helvetica, Arial, sans-serif;

$page-width: 800px;
$footer-height: 160px;

$link-color: #6598cc;
$text-color: #333;

@import 'clearfix';
@import 'body';
@import 'common';
@import 'section';
@import 'section-header';
@import 'people';
@import 'octocat';
@import 'table-list';
@import 'button';
@import 'taglets';
@import 'table';
@import 'footer';

@import 'flexslider';
@import 'highlight-github';
@import 'overwrite';
